@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Work+Sans:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  font-family: "Work Sans", sans-serif;
  width: 100%;
  background-image: url("../public/banner2.png") !important;
  background-color: #000918;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  color: #976cff;
  cursor: pointer;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}
