@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Work+Sans:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

body {
  font-family: "Work Sans", sans-serif;
  width: 100%;
}
